script(src="http://code.jquery.com/jquery-3.1.0.min.js")
script(src="/change.js")
h1 !{quote}
form(action="/" method="post" enctype="multipart/form-data")
    input(type="file" name="filetoupload")
    input(type="submit")
form(action="/" method="get")
    label(for="form") Formulario:
    input(type="text" id="form" name="form")
    input(type="submit")
form(action="/ajax" method="post" id="changeQuote")
    input(type='text', placeholder='Set quote of the day', name='quote')
    input(type="submit")